.header {
    padding: 20px;
    background-color: dodgerblue;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 9px 0 rgba(0, 0, 0, 0.1);
}

.header h1 {
    font-size: 16px;
    text-align: center;
    color: white;
}