.note {
    border: 1px solid #ccc;
    border-radius: 5px;
    user-select: none;
    flex: 1;
    min-width: 200px;
    padding: 10px 20px;
    transition: 300ms;
}

.note:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.note-title {
    font-weight: 700;
}

.note-text {
    color: rgb(56, 56, 56);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.note-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.note-actions button {
    
    background-color: white;
    padding: 3px 15px;
    border-radius: 5px;
    transition: 500ms;
}

.note-actions button#view {
    /* flex: 1; */
    color: dodgerblue;
    border: 1px solid dodgerblue;
}

.note-actions button#delete {
    color: tomato;
    border: 1px solid tomato;
    background-color: white;
}

.note-actions button#delete:hover {
    color: white;
    background-color: tomato;
}

.note-actions button#view:hover {
    color: white;
    background-color: dodgerblue;
}